  <nav 
    x-cloak 
    x-show="menu"
    x-transition:enter="transition ease-out duration-240"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-0"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed w-full h-dvh left-0 top-0 z-50">
    <div class="w-full h-dvh flex items-center justify-start relative">
      <ul class="flex flex-col gap-y-20">
        {{ nav:main }}
          {{ partial:menu/item }}
        {{ /nav:main }}
      </ul>
      {{ partial:menu/buttons/hide class="block" }}
    </div>
  </nav>
