/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'PPEiko-Medium';
  src: url('fonts/PPEiko-Medium.woff2') format('woff2'), url('fonts/PPEiko-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSansBold';
  src: url('fonts/TheSans-B7Bold.woff2') format('woff2'), url('fonts/TheSans-B7Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSansSemiLight';
  src: url('fonts/TheSans-B4SemiLight.woff2') format('woff2'), url('fonts/TheSans-B4SemiLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}