   <div data-hero-section class="overflow-x-hidden">

    <div 
      class="grid gap-y-60 md:gap-y-80 mt-[40vh] md:mt-[25vh]" 
      data-hero-wrapper>

      <div 
        class="origin-bottom-left will-change-transform relative z-40"
        data-hero-headline>

        <h1 class="font-ppeiko-medium font-medium text-2xl leading-[0.9]">
          <span class="font-thesans-light">Tiny&nbsp;isch</span><br>trendy
        </h1>

      </div>

      <div data-hero-image class="relative">

        <img src="/assets/spross-tiny-apartments-salon-b.jpg" alt="Interior" class="w-full h-auto aspect-[16/10] object-cover">

        <div data-hero-badge class="absolute right-30 md:right-70 top-0 -translate-y-1/2 z-50">
          {{ partial:icons/badge class="w-full max-w-75 md:max-w-[200px] xl:max-w-[275px] h-auto" }}
        </div>

      </div>

    </div>

</div>


  <!-- Content -->
  <main>
    <p>1. Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
  </main>
