  <div 
    class="min-h-screen relative"
    data-hero-section>

    <!-- Headline -->
    <div 
      class="absolute top-1/4 left-20 origin-top-left will-change-transform"
      data-hero-headline>
      <h1 class="font-ppeiko-medium font-medium text-2xl leading-[0.9] text-center">
        <span class="font-thesans-light">Tiny isch</span><br>trendy
      </h1>
    </div>

    <!-- Image -->
    <div 
      class="will-change-transform relative top-3/4 left-0 w-full aspect-[16/10]" 
      data-hero-image>
      <img src="/assets/spross-tiny-apartments-salon-b.jpg" alt="Interior" class="w-full h-auto aspect-[16/10]">
    </div>

    <!-- Badge -->
    <div 
      class="will-change-transform absolute top-3/4 -translate-y-1/2 right-20" 
      data-hero-badge>
      {{ partial:icons/badge class="w-1/2 h-auto" }}
    </div>
  </div>

  <!-- Content -->
  <main class="min-h-screen">
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
  </main>
