  {{# <div 
    class="min-h-screen relative"
    data-hero-section>

    <!-- Headline -->
    <div 
      class="absolute z-50 top-1/4 left-0 origin-top-left will-change-transform"
      data-hero-headline>
      <h1 class="font-ppeiko-medium font-medium text-2xl leading-[0.9] text-center">
        <span class="font-thesans-light">Tiny isch</span><br>trendy
      </h1>
    </div>

    <!-- Image -->
    <div 
      class="absolute top-3/4 w-full aspect-[16/10]" 
      data-hero-image>
      <img src="/assets/spross-tiny-apartments-salon-b.jpg" alt="Interior" class="w-full h-full object-cover aspect-[16/10]">
    </div>

    <!-- Badge -->
    <div 
      class="will-change-transform absolute top-3/4 -translate-y-1/2 right-20 xl:right-40" 
      data-hero-badge>
      {{ partial:icons/badge class="w-full max-w-[200px] xl:max-w-[275px] h-auto" }}
    </div>
  </div> #}}

  <div 
    class="min-h-screen relative flex flex-col">

    <!-- Headline -->
    <div class="mt-[25vh] hero-headline">
      <h1 class="font-ppeiko-medium font-medium text-2xl leading-[0.9]">
        <span class="font-thesans-light">Tiny isch</span><br>trendy
      </h1>
    </div>

    <!-- Image -->
    <div class="mt-100 hero-image">
      <img src="/assets/spross-tiny-apartments-salon-b.jpg" alt="Interior" class="w-full h-full object-cover aspect-[16/10]">
    </div>

  </div>


  <!-- Content -->
  <main class="">
    <p>1. Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
    <p>Content after the hero...</p>
  </main>
