<picture>
  {{ if (sizes | in_array('xl')) }}
    <source media="(min-width: 1280px)" srcset="/assets/{{ image }}-xl.avif" type="image/avif">
    <source media="(min-width: 1280px)" srcset="/assets/{{ image }}-xl.{{ extension }}" type="image/jpeg">
  {{ /if }}
  {{ if (sizes | in_array('lg')) }}
    <source media="(min-width: 1024px)" srcset="/assets/{{ image }}-lg.avif" type="image/avif">
    <source media="(min-width: 1024px)" srcset="/assets/{{ image }}-lg.{{ extension }}" type="image/jpeg">
  {{ /if }}
  {{ if (sizes | in_array('md')) }}
    <source media="(min-width: 768px)" srcset="/assets/{{ image }}-md.avif" type="image/avif">
    <source media="(min-width: 768px)" srcset="/assets/{{ image }}-md.{{ extension }}" type="image/jpeg">
  {{ /if }}
  <source srcset="" type="image/avif" />
  <img 
    src="/assets/{{ image }}-sm.{{ extension }}" 
    alt="{{ alt  }}" 
    title="{{ alt }}" 
    height="{{ height }}" 
    width="{{ width }}"
    class="{{ class ?? '' }}"
    loading="lazy">
</picture>
