<div class="overflow-hidden md:col-span-full md:px-30">
  <div 
    class="grid gap-y-60 md:gap-y-80 xl:gap-y-120 mt-[30vh] sm:mt-[35vh] lg:mt-[25vh] xl:mt-[20vh] px-20 md:px-0" 
    data-hero-wrapper>
    <div 
      class="origin-bottom-left will-change-transform relative z-40"
      data-hero-headline>
      <div class="font-ppeiko-medium text-3xl leading-[0.9]">
        <span class="font-thesans-light">Tiny&nbsp;isch</span><br>trendy
      </div>
    </div>
    <div 
      data-hero-image 
      class="relative">
      <figure class="pr-20 xs:pr-0">
        {{ partial:media/picture 
          image="spross-tiny-apartments-salon-b" 
          extension="jpg" 
          :sizes="['lg', 'md', 'sm']"
          width="2000" 
          height="1600"
          class="w-full h-auto aspect-[23/15] object-cover" }}
        <figcaption class="hidden sm:block text-xs text-right text-evergreen/50 mt-10 2xl:mt-15">
          Dekoration, Bettwäsche, Kleidung und Aufbewahrungsboxen dienen der Visualisierung und gehören nicht zur Wohnungsausstattung.
        </figcaption>
      </figure>
      <div 
        class="absolute right-30 md:right-40 -top-30 xs:-top-15 sm:top-0 -translate-y-[50%] xl:-translate-y-[25%] z-50 will-change-transform"
        data-hero-badge>
        {{ partial:icons/badge class="w-[30vw] xs:w-[25vw] md:w-[15vw] max-w-[200px] lg:max-w-[225px] xl:max-w-[275px] h-auto" }}
      </div>
    </div>
  </div>
</div>
