<section class="md:col-span-full">
  <h1>Die Idee</h1>
  <h2>Wie klein darfs denn sein?</h2>
  <p>32 Studios, zwei Häuser eine Philosophie: Klein, aber fein. Mit den neuen Tiny Apartments an der Saatlenstrasse in Zürich Schwamendingen bietet Spross die perfekte Lösung für Singles oder alle, die einfach gerne allein wohnen.</p>
  <div>[Slideshow]</div>
  <p>Ob als spontane Übergangslösung oder Paradies für Minimalist:innen, ob als Zürcher Oase für Expats und Weltenbummler:innen, ob für Junge oder Alte, ob kurz oder lang oder einfach so: <em>Diese coolen, kompakten Studios mit separatem Bad</em> bieten auf kleinstem Raum alles, was eine Person so braucht – und nicht mehr. Hochwertig, hell, modern und gut gelegen.</p>
</section>