{{ partial:layout/section }}
  <h1 class="text-center my-md">Die Idee</h1>
  <h2>Wie klein darfs denn sein?</h2>
  <p>32 Studios, zwei Häuser eine Philosophie: Klein, aber fein. Mit den neuen Tiny Apartments an der <a href="https://www.google.ch/maps/place/Saatlenstrasse+32%2FA/data=!4m7!3m6!1s0x479aa0622c45600b:0x48a4d067e1cd5fd9!8m2!3d47.4061951!4d8.5700874!16s%2Fg%2F11tmp6qyv6!19sChIJC2BFLGKgmkcR2V_N4WfQpEg?coh=219680&utm_campaign=tt-rcs&entry=tts&g_ep=EgoyMDI1MDEyNi4wIPu8ASoASAFQAw%3D%3D" title="Auf Google Maps anzeigen" target="_blank">Saatlenstrasse</a> in Zürich Schwamendingen bietet Spross die perfekte Lösung für Singles oder alle, die einfach gerne allein wohnen.</p>
  <div class="my-md">
    {{ partial:components/swiper/wrapper 
        selector="data-gallery"
        hasNavigation="true"
        class="mx-auto max-w-3xl" }}
      {{ partial:components/swiper/slide }}
        <a href="/assets/spross-tiny-apartments-salon-a.jpg" data-fancybox="swiper">
          {{ partial:media/picture 
            image="spross-tiny-apartments-salon-a" 
            extension="jpg" 
            :sizes="['lg', 'md', 'sm']"
            width="2000" 
            height="1600" }}
        </a>
      {{ /partial:components/swiper/slide }}
      {{ partial:components/swiper/slide }}
        <a href="/assets/spross-tiny-apartments-salon-b.jpg" data-fancybox="swiper">
          {{ partial:media/picture 
            image="spross-tiny-apartments-salon-b" 
            extension="jpg" 
            :sizes="['lg', 'md', 'sm']"
            width="2000" 
            height="1600" }}
        </a>
      {{ /partial:components/swiper/slide }}
      {{ partial:components/swiper/slide }}
        <a href="/assets/spross-tiny-apartments-front.jpg" data-fancybox="swiper">
          {{ partial:media/picture 
            image="spross-tiny-apartments-front" 
            extension="jpg" 
            :sizes="['lg', 'md', 'sm']"
            width="2000" 
            height="1600" }}
        </a>
      {{ /partial:components/swiper/slide }}
    {{ /partial:components/swiper/wrapper }}
  </div>
  <p>Ob als spontane Übergangslösung oder Paradies für Minimalist:innen, ob als Zürcher Oase für Expats und Weltenbummler:innen, ob für Junge oder Alte, ob kurz oder lang oder einfach so: <em>Diese coolen, kompakten Studios mit separatem Bad</em> bieten auf kleinstem Raum alles, was eine Person so braucht – und nicht mehr. Hochwertig, hell, modern und gut gelegen.</p>
{{ /partial:layout/section }}