<h2 class="mb-sm">Kontakt</h2>
<div class="text-md leading-[1.25]">
  <p>
    <strong>Haben Sie Fragen? Möchten Sie ein Tiny Apartment besichtigen oder wollen Sie am liebsten gleich einziehen? Wir sind gerne für Sie da.</strong>
  </p>
  <p>
    Montag bis Freitag<br>
    08.00—12.00 Uhr<br>
    13.30—17.00 Uhr
  </p>
  <p>
    <a href="tel:043 333 33 66" title="Rufen Sie uns an" class="!no-underline">043 333 33 66</a><br>
    <a href="mailto:immobilien@spross.com" title="Schreiben Sie uns eine E-Mail" class="!no-underline">immobilien@spross.com</a>
  </p>
</div>