<h2 class="mb-sm">FAQ's</h2>
<div 
  class="text-sm leading-[1.25]"
  x-data="{ selected: null}">
  {{ collection:faq }}
    {{ partial:components/accordeon/wrapper :index="index" }}
      {{ partial:components/accordeon/button :title="title" :index="index" }}
      {{ partial:components/accordeon/section :index="index" }}
        {{ partial:components/accordeon/item }}
          {{ reply }}
        {{ /partial:components/accordeon/item }}
      {{ /partial:components/accordeon/section }}
    {{ /partial:components/accordeon/wrapper }}
  {{ /collection:faq }}
</div>