
<section class="text-sm md:hidden">
  {{ collection:apartments as="apartments_a" building:is="saatlenstrasse_building_a" }}
    {{ if apartments_a }}
      {{ apartments_a }}
        {{ partial:sections/apartments/items/card }}
      {{ /apartments_a }}
    {{ /if }}
  {{ /collection:apartments }}
</section>

<div 
  class="text-sm hidden md:col-span-full md:grid md:grid-cols-subgrid" 
  x-data="{ active: 'building_a' }">
  <div class="md:col-span-full md:grid md:grid-cols-subgrid">
    <button 
      @click="active = 'building_a'" 
      class="font-ppeiko-medium text-lg text-cedar md:col-span-2 md:col-start-2 flex justify-center items-end rounded-t-lg py-10 2xl:py-15 bg-cedar/15" 
      :class="{ 'text-xl bg-cedar/20': active === 'building_a' }">
      Haus A
    </button>
    <button 
      @click="active = 'building_b'" 
      class="font-ppeiko-medium text-lg text-thyme md:col-span-2 flex justify-center items-end rounded-t-lg bg-thyme/15 py-10 2xl:py-15" 
      :class="{ 'text-xl bg-thyme/20': active === 'building_b' }">
      Haus B
    </button>
  </div>

  <section 
    class="md:col-span-full md:grid md:grid-cols-subgrid bg-cedar/20 px-20 md:px-30"
    x-show="active === 'building_a'">
    {{ collection:apartments as="apartments" building:is="saatlenstrasse_building_a" }}
      <div class="md:col-span-full md:grid md:grid-cols-subgrid text-mahogany font-thesans-bold font-bold [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-end [&>div]:pb-10">
        {{ partial:sections/apartments/items/list_header }}
      </div>
      {{ if apartments }}
        {{ apartments }}
          <div class="md:col-span-full md:grid md:grid-cols-subgrid text-mahogany border-t border-mahogany/50 [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-center">
            {{ partial:sections/apartments/items/list }}
          </div>
        {{ /apartments }}
      {{ /if }}
    {{ /collection:apartments }}
  </section>

  <section 
    class="md:col-span-full md:grid md:grid-cols-subgrid bg-thyme/20 px-20 md:px-30"
    x-show="active === 'building_b'">
    {{ collection:apartments as="apartments" building:is="saatlenstrasse_building_b" }}
      <div class="md:col-span-full md:grid md:grid-cols-subgrid text-moss font-thesans-bold font-bold [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-end [&>div]:pb-10">
        {{ partial:sections/apartments/items/list_header }}
      </div>
      {{ if apartments }}
        {{ apartments }}
          <div class="md:col-span-full md:grid md:grid-cols-subgrid text-moss border-t border-moss/50 [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-center">
            {{ partial:sections/apartments/items/list }}
          </div>
        {{ /apartments }}
      {{ /if }}
    {{ /collection:apartments }}
  </section>
</div>
