
<section 
  class="text-sm w-full md:hidden mt-md mb-lg"
  x-data="{ active_mini: 'building_a' }">

  <div class="flex justify-between items-end gap-x-10 w-full px-20">
    <button 
      @click="active_mini = 'building_a'" 
      class="font-ppeiko-medium w-full h-50 text-[1.3rem] leading-none text-cedar flex justify-center items-end rounded-t-lg bg-cedar/15 pb-10" 
      :class="{ 'text-[1.75rem] bg-cedar/20 !h-70 !pb-20': active_mini === 'building_a' }">
      Haus A
    </button>
    <button 
      @click="active_mini = 'building_b'" 
      class="font-ppeiko-medium w-full h-50 text-[1.3rem] leading-none text-thyme flex justify-center items-end rounded-t-lg bg-thyme/15 pb-10" 
      :class="{ 'text-[1.75rem] bg-thyme/20 !h-70 !pb-20': active_mini === 'building_b' }">
      Haus B
    </button>
  </div>

  <div 
    class="bg-cedar/20 w-full min-h-200"
    x-show="active_mini === 'building_a'">
    {{ collection:apartments as="apartments_a" building:is="saatlenstrasse_building_a" }}
      {{ if apartments_a }}
        <div class="flex text-mahogany font-thesans-bold font-bold mx-20 pt-40 mb-10">
          {{ partial:sections/apartments/items/card_header }}
        </div>
        {{ apartments_a }}
          <div class="flex text-mahogany border-t border-mahogany/50 mx-20">
          {{ partial:sections/apartments/items/card building="a" }}
          </div>
        {{ /apartments_a }}
      {{ /if }}
    {{ /collection:apartments }}
  </div>

  <div 
    class="bg-thyme/20 w-full min-h-200"
    x-show="active_mini === 'building_b'">
    {{ collection:apartments as="apartments_b" building:is="saatlenstrasse_building_b" }}
      {{ if apartments_b }}
        <div class="flex text-moss font-thesans-bold font-bold mx-20 pt-40 mb-10">
          {{ partial:sections/apartments/items/card_header }}
        </div>
        {{ apartments_b }}
          <div class="flex text-moss border-t border-moss/50 mx-20">
          {{ partial:sections/apartments/items/card building="b" }}
          </div>
        {{ /apartments_b }}
      {{ /if }}
    {{ /collection:apartments }}
  </div>

</section>

<section 
  class="text-sm hidden md:col-span-full md:grid md:grid-cols-subgrid mt-md mb-lg" 
  x-data="{ active: 'building_a' }">
  <div class="md:col-span-full md:grid md:grid-cols-subgrid items-end">
    <button 
      @click="active = 'building_a'" 
      class="font-ppeiko-medium text-lg text-cedar md:col-span-2 md:col-start-2 flex justify-center items-end rounded-t-lg min-h-70 py-10 bg-cedar/15" 
      :class="{ 'text-xl bg-cedar/20 min-h-90': active === 'building_a' }">
      Haus A
    </button>
    <button 
      @click="active = 'building_b'" 
      class="font-ppeiko-medium text-lg text-thyme md:col-span-2 flex justify-center items-end rounded-t-lg min-h-70 py-10 bg-thyme/15" 
      :class="{ 'text-xl bg-thyme/20 min-h-90': active === 'building_b' }">
      Haus B
    </button>
  </div>

  <section 
    class="md:col-span-full md:grid md:grid-cols-subgrid bg-cedar/20 px-20 md:px-30"
    x-show="active === 'building_a'">
    {{ collection:apartments as="apartments" building:is="saatlenstrasse_building_a" }}
      <div class="md:col-span-full md:grid md:grid-cols-subgrid text-mahogany font-thesans-bold font-bold [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-end [&>div]:pb-10">
        {{ partial:sections/apartments/items/list_header }}
      </div>
      {{ if apartments }}
        {{ apartments }}
          <div class="md:col-span-full md:grid md:grid-cols-subgrid text-mahogany border-t border-mahogany/50 [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-center">
            {{ partial:sections/apartments/items/list building="a" }}
          </div>
        {{ /apartments }}
      {{ /if }}
    {{ /collection:apartments }}
  </section>

  <section 
    class="md:col-span-full md:grid md:grid-cols-subgrid bg-thyme/20 px-20 md:px-30"
    x-show="active === 'building_b'">
    {{ collection:apartments as="apartments" building:is="saatlenstrasse_building_b" }}
      <div class="md:col-span-full md:grid md:grid-cols-subgrid text-moss font-thesans-bold font-bold [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-end [&>div]:pb-10">
        {{ partial:sections/apartments/items/list_header }}
      </div>
      {{ if apartments }}
        {{ apartments }}
          <div class="md:col-span-full md:grid md:grid-cols-subgrid text-moss border-t border-moss/50 [&>div]:min-h-40 md:[&>div]:min-h-60 2xl:[&>div]:min-h-80 [&>div]:flex [&>div]:flex-col [&>div]:justify-center">
            {{ partial:sections/apartments/items/list building="b"  }}
          </div>
        {{ /apartments }}
      {{ /if }}
    {{ /collection:apartments }}
  </section>
</section>
