<div class="overflow-x-hidden md:col-span-full md:px-30">
  <div 
    class="grid gap-y-60 md:gap-y-80 mt-[40vh] lg:mt-[15vh]" 
    data-hero-wrapper>
    <div 
      class="origin-bottom-left will-change-transform relative z-40"
      data-hero-headline>
      <div class="font-ppeiko-medium text-3xl leading-[0.9] pl-20 md:pl-0">
        <span class="font-thesans-light">Tiny&nbsp;isch</span><br>trendy
      </div>
    </div>
    <div 
      data-hero-image 
      class="relative -top-20 2xl:-top-0 px-20 md:px-0">
      <figure>
        <img src="/assets/spross-tiny-apartments-salon-b.jpg" alt="Interior" class="w-full h-auto aspect-[23/15] object-cover">
        <figcaption class="text-md text-right text-evergreen/50 mt-10 2xl:mt-15">
          Dekoration, Bettwäsche, Kleidung und Aufbewahrungsboxen dienen der Visualisierung und gehören nicht zur Wohnungsausstattung.
        </figcaption>
      </figure>
      <div 
        class="absolute right-30 md:right-40 top-0 -translate-y-1/2 lg:-translate-y-full z-50 will-change-transform"
        data-hero-badge>
        {{ partial:icons/badge class="w-[20vw] max-w-[275px] h-auto" }}
      </div>
    </div>
  </div>
</div>
